<table class="table table-striped table-bordered">
  <thead class="thead-dark">
    <tr>
      <th>Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Username</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.name }}</td>
      <td>{{ user.lastname }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.username }}</td>
      <td>
        <button class="btn btn-primary" (click)="editUser(user)">Edit</button>
        <button class="btn btn-danger ms-2" (click)="deleteUser(user)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>

<form class="form-control" [formGroup]="userForm" *ngIf="idEditFormOpen">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" formControlName="name">
  </div>
  <div class="form-group">
    <label for="lastname">Last Name</label>
    <input type="text" class="form-control" id="lastname" formControlName="lastname">
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email" formControlName="email">
  </div>
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" id="username" formControlName="username">
  </div>
  <button type="button" class="btn btn-primary mt-2" (click)="updateUser()">Atualizar</button>
</form>